<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd
        				http://www.springframework.org/schema/context 
        				http://www.springframework.org/schema/context/spring-context-4.3.xsd
        				http://www.springframework.org/schema/mvc 
        				http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        				http://www.springframework.org/schema/task
        				http://www.springframework.org/schema/task/spring-task-4.3.xsd
        				http://www.springframework.org/schema/data/mongo 
        				http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd">                    
 	
 	<context:annotation-config />

    <!-- 提供该PropertyPlaceholderConfigurer bean支持把properties文件中的信息读取到XML配置文件的表达式中 -->
    <!-- 从Spring2.5开始引入命名空间配置加载properties文件到XML -->
    <!-- <context:property-placeholder location="/WEB-INF/mongodb.properties" /> -->

    <!-- 通过工厂Bean创建mongo连接实例,没有密码就把username和password属性删除了-->
    <!-- <mongo:db-factory host="${db.host}" port="${db.port}" dbname="${db.database}"
            username="${db.username}" password="${db.password}"   /> -->


    <!-- mongo模板操作对象 -->
    <!-- <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean> -->

    <!-- MongoDB GridFS Template 支持，操作mongodb存放的文件 -->
    <!-- <mongo:mapping-converter id="converter" db-factory-ref="mongoDbFactory"/>
    <bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
      <constructor-arg ref="mongoDbFactory"/>
      <constructor-arg ref="converter"/>
    </bean> -->
    <!-- scan the package and the sub package -->
    
    <context:component-scan base-package="com.bruce.platform.base.controller"/>
    <context:component-scan base-package="com.bruce.platform.base.service"/>
    <context:component-scan base-package="com.bruce.platform.base.exception"/>
    <context:component-scan base-package="com.bruce.platform.controller"/>
    <context:component-scan base-package="com.bruce.platform.service"/>
    
 
    <!-- don't handle the static resource -->
    <mvc:default-servlet-handler />
 
    <!-- if you use annotation you must configure following setting -->
    <mvc:annotation-driven />
     
    <!-- configure the InternalResourceViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
            id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/views/" />
        <!-- 后缀 -->
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- rest json related... start -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <!-- rest json related... end -->

	<!-- 
    <bean id="asyncExceptionHandler" class="com.bruce.framework.exception.GlobalExceptionController"/>  
	<task:annotation-driven exception-handler="asyncExceptionHandler" proxy-target-class="true" />
     -->
     
    <!-- interceptor setting
	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/**"/>
	        <bean class="com.bruce.platform.Interceptor.Interceptor"></bean>
	    </mvc:interceptor>        
	</mvc:interceptors>
	 -->
</beans>