<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bruce.platform.dao.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.bruce.platform.model.SysUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="login_id" property="loginId" jdbcType="VARCHAR" />
    <result column="login_password" property="loginPassword" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, login_id, login_password, org_id, real_name, birthday
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bruce.platform.model.SysUser" >
    insert into sys_user (id, login_id, login_password, 
      org_id, real_name, birthday
      )
    values (#{id,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bruce.platform.model.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="loginPassword != null" >
        login_password,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bruce.platform.model.SysUser" >
    update sys_user
    <set >
      <if test="loginId != null" >
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null" >
        login_password = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bruce.platform.model.SysUser" >
    update sys_user
    set login_id = #{loginId,jdbcType=VARCHAR},
      login_password = #{loginPassword,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- ==============以下内容是根据自身业务扩展的内容======================= -->
  <!-- select标签的id属性与UserMapper接口中定义的getAll方法要一模一样 -->
  <select id="getAll" resultMap="BaseResultMap">
      select id, login_id, login_password, org_id, real_name, birthday from sys_user
  </select>
</mapper>